.brd{
    border: 1px solid black;
    font-size: 13px;
}
.scrsize{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.col-md-8{
    max-width: 67.37%;
}
.square{
    border: 1px solid black;
    height: 140px;
    width: 120px;
}
/* .msg{
   height: 200px;
   width: 300px;
} */
.card{
    z-index: 15%;
    top: 35%;
    left: 37%;;
    width: 30%;
    height: 25%;
    border-color: yellowgreen;
    background-color: rgb(255, 255, 255);
    position: fixed;
}
