<div style="background-color: #F0F0F0;">
  <h1 style="text-align:center">CUSTOMER INFORMATION</h1>
  <div class="scrsize">
    <br>
    <form #kycForm="ngForm" (ngSubmit)="kyc(kycForm);kycForm.resetForm()">
      <div style="text-align:right">
        <label>Date</label>
        <input type="date" name="date" ngModel>
      </div>

      <div class="brd row">
        <div class="col-md-12">
          <br>
          <div>
            <label class="col-md-3">Member Name</label>
            <input class="col-md-8" type="text" name="memberName" ngModel>
          </div>
          <fieldset ngModelGroup="currentAddress">
            <div>
              <label class="col-md-3">Current Address</label>
              <input class="col-md-8" type="text" name="address" ngModel>
            </div>
            <div>
              <label class="col-md-3">City</label>
              <select class="col-md-3" name="city" ngModel>
                <option value="Pune">Pune</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Nashik">Nashik</option>
                <option value="A.Nager">A.Nager</option>
                <option value="Nagpur">Nagpur</option>
                <option value="Aurangabad">Aurangabad</option>
                <option value="Kolhapur">Kolhapur</option>
                <option value="Satara">Satara</option>
              </select>
              <label class="col-md-1">State</label>
              <select class="col-md-2" name="state" ngModel>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Gujrat">Gujrat</option>
                <option value="Goa">Goa</option>
                <option value="Punjab">Punjab</option>
                <option value="Keral">Keral</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
              </select>
              <label class="col-md-1" style="margin-left:-8px;">Country</label>
              <select class="col-md-1" name="country" value="India" ngModel>
                <option value="India">India</option>
              </select>
            </div>
          </fieldset>
          
          <fieldset ngModelGroup="permanentAddress">
            <div>
              <label class="col-md-3">Permanent Address</label>
              <input class="col-md-8" type="text" name="address" ngModel>
            </div>
            <div>
              <label class="col-md-3">City</label>
              <select class="col-md-3" name="city" ngModel>
                <option value="Pune">Pune</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Nashik">Nashik</option>
                <option value="A.Nager">A.Nager</option>
                <option value="Nagpur">Nagpur</option>
                <option value="Aurangabad">Aurangabad</option>
                <option value="Kolhapur">Kolhapur</option>
                <option value="Satara">Satara</option>
              </select>
              <label class="col-md-1">State</label>
              <select class="col-md-2" name="state" ngModel>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Gujrat">Gujrat</option>
                <option value="Goa">Goa</option>
                <option value="Punjab">Punjab</option>
                <option value="Keral">Keral</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
              </select>
              <label class="col-md-1" style="margin-left:-8px;">Country</label>
              <select class="col-md-1" name="country" value="India" ngModel>
                <option value="India">India</option>
              </select>
            </div>
          </fieldset>
          <div>
            <label class="col-md-3">Mobile No</label>
            <input class="col-md-3" type="text" name="mobileNo" ngModel>
            <label class="col-md-2">Voter ID</label>
            <input class="col-md-3" type="text" name="voterNo" ngModel>
          </div>
          <div>
            <label class="col-md-3">Telephone No</label>
            <input class="col-md-3" type="text" name="telephoneNo" ngModel>
            <label class="col-md-2">Aadhar No</label>
            <input class="col-md-3" type="text" name="aadharNo" ngModel>
          </div>
          <br>
        </div>
      </div>
      <br>
      <div class="brd row">
        <div class="col-md-12">
          <br>
          <div>
            <label class="col-md-3">Member No.</label>
            <input class="col-md-3" type="text" name="memberNo" ngModel>
            <label class="col-md-3">Active Status</label>
            <input class="col-md-2" type="text" name="activeStatus" ngModel>
          </div>
          <div>
            <label class="col-md-3">Loan Amount</label>
            <input class="col-md-3" type="text" name="loanAmount" ngModel>
            <label class="col-md-3">Group</label>
            <input class="col-md-2" type="text" name="group" ngModel>
          </div>
          <div>
            <label class="col-md-3">Sanction Amount</label>
            <input class="col-md-3" type="text" name="sanctionAmount" ngModel>
            <label class="col-md-3">Branch</label>
            <input class="col-md-2" type="text" name="branch" ngModel>
          </div>
          <div>
            <label class="col-md-3">Balence Amount</label>
            <input class="col-md-3" type="text" name="balanceAmount" ngModel>
            <label class="col-md-3">Center</label>
            <input class="col-md-2" type="text" name="center" ngModel>
          </div>
          <div>
            <label class="col-md-3">FDO</label>
            <input class="col-md-3" type="text" name="fDO" ngModel>
            <label class="col-md-3">EMI Schedule</label>
            <input class="col-md-2" type="text" name="emiSchedule" ngModel>
          </div>
          <br>
        </div>
      </div>
      <br>

      <div class="brd row" style="border-bottom:none;">
        <div style="text-align:center;width:100%;margin-top:1%">
          <b>Saving Account Details</b>
        </div>
        <div class="col-md-12">
          <br>
          <div>
            <label class="col-md-3">Account Holder Name</label>
            <input class="col-md-3" type="text" name="accountHolderName" ngModel>
            <label class="col-md-3">Branch</label>
            <input class="col-md-2" type="text" name="branch" ngModel>
          </div>
          <div>
            <label class="col-md-3">Bank Name</label>
            <input class="col-md-3" type="text" name="bankName" ngModel>
            <label class="col-md-3">IFSC CODE</label>
            <input class="col-md-2" type="text" name="iFSCCODE" ngModel>
          </div>
          <div>
            <label class="col-md-3">Saving A/C No.</label>
            <input class="col-md-3" type="text" name="savingAccNo" ngModel>
            <label class="col-md-3">City</label>
            <input class="col-md-2" type="text" name="bankCity" ngModel>
          </div>
          <br>
        </div>
      </div>
      <div class="brd row">
        <div style="text-align:center;width:100%;margin-top:1%">
          <b>Other Loan Details</b>
        </div>
        <div class="col-md-12">
          <br>
          <div>
            <label class="col-md-3">Bank Name</label>
            <input class="col-md-3" type="text" name="bankName" ngModel>
            <label class="col-md-3">Loan A/c No.</label>
            <input class="col-md-2" type="text" name="loanAccNo" ngModel>
          </div>
          <div>
            <label class="col-md-3">Loan Value</label>
            <input class="col-md-3" type="text" name="loanValue" ngModel>
            <label class="col-md-3">Loan Tenure</label>
            <input class="col-md-2" type="text" name="loanTenure" ngModel>
          </div>
          <div>
            <label class="col-md-3">EMI Amount</label>
            <input class="col-md-3" type="text" name="emiAmount" ngModel>
            <label class="col-md-3">EMI Schedule</label>
            <input class="col-md-2" type="text" name="emiSchedule" ngModel>
          </div>
          <br>
        </div>
      </div>
      <br>
      <div style="text-align:center">
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>
    </form>
  </div>
</div>

<div class="kyc" *ngIf="msg">
  <div class="card">
    <div class="card-body" style="text-align:center;">
      <div class="card-title">{{failmsg}}</div>
      <input type="button" class="btn btn-warning" value="OK" (click)="msg=!msg">
    </div>
  </div>
</div>