<div  style="border-bottom:2px solid black;">
     <div class="col-md-12">
        <div class="row" style="text-align:center">
       <button class="col-md-1 btn btn-secondary" [routerLink]="['/login']">Login</button>
       <button class="col-md-2 btn btn-secondary" [routerLink]="['/signin']">Sign In</button>
       <button class="col-md-1 btn btn-secondary" [routerLink]="['/userAuth']">User Auth</button>
       <button class="col-md-2 btn btn-secondary" [routerLink]="['/externalFund']">External fund </button>     
       <button class="col-md-1 btn btn-secondary" [routerLink]="['/memberRegister']">Member Reg</button>
       <button class="col-md-2 btn btn-secondary" [routerLink]="['/loanAccount']">Member Loan </button>
       <button class="col-md-1 btn btn-secondary" [routerLink]="['/kyc']">KYC</button>
       <button class="col-md-2 btn btn-secondary" [routerLink]="['/demandSheet']">Demand Sheet</button>
        </div>
   </div>
  </div>
