<div style="background-color:#f0f0f0">
  <div style="text-align:center">
    <h1>Login</h1>
  </div>
  <div class="card">
    <div class="card-title hdrst">
      <b>LOGIN</b>
    </div>
    <hr>
    <div class="container my-5">
      <div class="row fildadjst">
        <div class="col-md-6 mx-auto">
          <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <div class="form-group">
              <input type="text" name="EmployeeCode" class="form-control" (click)="placeholderF('u')"required ngModel>
              <label [ngClass]="{'place':fun,'form-control-placeholder':true}" (click)="placeholderFun('u')">Employee Code</label>
            </div>
            <div class="form-group">
              <input type="password" name="Password" class="form-control" (click)="placeholderF('p')" required ngModel>
              <label [ngClass]="{'place':funp,'form-control-placeholder':true}" (click)="placeholderFun('p')">Password</label>
            </div>
            <div style="text-align:center">
              <button type="submit" class="btn btn-primary">LOGIN</button>
            </div>
          </form>

        </div>
      </div>
    </div>
    <div class="failmsg">{{loginSuccess}}</div>
  </div>
  <br>
</div>
