<div style="background-color: #F0F0F0;">
  <h1 style="text-align:center">EXTERNAL INSTITUTIONS FUNDING</h1>
  <div class="scrsize">
    <br>
    <form #extFundForm="ngForm" (ngSubmit)="extFund(extFundForm);extFundForm.resetForm()">
      <div style="text-align:right">
        <label>Date</label>
        <input type="date" name="date" ngModel>
      </div>

      <div class="brd row">
        <div class="col-md-11">
          <br>
          <div>
            <label class="col-md-3">Agency/Parties Name</label>
            <input class="col-md-8" type="text" name="agencyOrPartiesName" ngModel>
          </div>
          <fieldset ngModelGroup="currentAddress">
            <div>
              <label class="col-md-3"> Address</label>
              <input class="col-md-8" type="text" name="address" ngModel>
            </div>
            <div>
              <label class="col-md-3">City</label>
              <select class="col-md-3" name="city" ngModel>
                <option selected value="Pune">Pune</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Nashik">Nashik</option>
                <option value="A.Nager">A.Nager</option>
                <option value="Nagpur">Nagpur</option>
                <option value="Aurangabad">Aurangabad</option>
                <option value="Kolhapur">Kolhapur</option>
                <option value="Satara">Satara</option>
              </select>
              <label class="col-md-1">State</label>
              <select class="col-md-2" name="state" ngModel>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Gujrat">Gujrat</option>
                <option value="Goa">Goa</option>
                <option value="Punjab">Punjab</option>
                <option value="Keral">Keral</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
              </select>
              <label class="col-md-1" style="margin-left:-8px;">Country</label>
              <select class="col-md-1" name="country" value="India" ngModel>
                <option value="India" selected>India</option>
              </select>
            </div>
          </fieldset>
          <div>
            <label class="col-md-3">Gov. Scheme</label>
            <input class="col-md-8" type="text" name="govScheme" ngModel>
          </div>
          <div>
            <label class="col-md-3">Total Funds Received</label>
            <input class="col-md-3" type="text" name="totalFundsReceived" ngModel>
            <label class="col-md-2">Funds Pending</label>
            <input class="col-md-3" type="text" name="fundsPending" ngModel>
          </div>
          <div>
            <label class="col-md-3">Scheme Code</label>
            <input class="col-md-3" type="text" name="schemeCode" ngModel>
            <label class="col-md-2">GR No</label>
            <input class="col-md-3" type="text" name="gRNo" ngModel>
          </div>
          <div>
            <label class="col-md-3">Account No</label>
            <input class="col-md-3" type="text" name="accountNo" ngModel>
            <label class="col-md-2">Purpose</label>
            <input class="col-md-3" type="text" name="purpose" ngModel>
          </div>
          <div>
            <label class="col-md-3">Other Information</label>
            <input type="text" name="otherInformation" ngModel class="col-md-8">
          </div>
          <br>
        </div>
      </div>
      <br>

      <div class="brd row">
        <div class="col-md-12">
          <br>
          <div>
            <label class="col-md-3">Scheme Name</label>
            <input class="col-md-3" type="text" name="schemeName" ngModel>
            <label class="col-md-3">Qualification</label>
            <input class="col-md-2" type="text" name="qualification" ngModel>
          </div>
          <div>
            <label class="col-md-3">Central Gov/PSU</label>
            <input class="col-md-3" type="text" name="centralGovORPSU" ngModel>
            <label class="col-md-3">Department</label>
            <input class="col-md-2" type="text" name="department" ngModel>
          </div>
          <div>
            <label class="col-md-3">Line of Business</label>
            <input class="col-md-3" type="text" name="lineOfBusiness" ngModel>
            <label class="col-md-3">Funding Type</label>
            <input class="col-md-2" type="text" name="fundingType" ngModel>
          </div>
          <div>
            <label class="col-md-3">Loan Approval Limit</label>
            <input class="col-md-3" type="text" name="loanApprovallimit" ngModel>
            <label class="col-md-3">Recovery Period</label>
            <input class="col-md-2" type="text" name="recoveryperiod" ngModel>
          </div>
          <div>
            <label class="col-md-3">Rate of Interest</label>
            <input class="col-md-3" type="text" name="rateOfInterest" ngModel>
            <label class="col-md-3">Subsidy Amount %</label>
            <input class="col-md-2" type="text" name="subsidyAmountORpercent" ngModel>
          </div>
          <div>
            <label class="col-md-3">Location</label>
            <input class="col-md-3" type="text" name="location" ngModel>
            <label class="col-md-3">Collection Schedule</label>
            <input class="col-md-2" type="text" name="collectionSchedule" ngModel>
          </div>
          <br>
        </div>
      </div>
      <br>
      <div style="text-align:center">
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>
    </form>
  </div>
</div>

<div class="card" *ngIf="msg">
  <div class="card-body" style="text-align:center;">
    <div class="card-title">{{failmsg}}</div>
    <input type="button" class="btn btn-warning" value="OK" (click)="msg=!msg">
  </div>
</div>