<div style="background-color: #F0F0F0;">
    <h1 style="text-align:center">USER AUTHENTICATION</h1>
    <div class="scrsize">
        <br>
        <form #userAuthFrm="ngForm" (ngSubmit)="userAuth(userAuthFrm)">
            <div style="text-align:right">
                <label>Date</label>
                <input type="date" name="date" ngModel>
            </div>

            <div class="brd row">
                <div class="col-md-10">
                    <br>
                    <div>
                        <label class="col-md-3">Employee Name</label>
                        <input class="col-md-8" type="text" name="employeeName" ngModel>
                    </div>

                    <fieldset ngModelGroup="currentAddress">
                        <div>
                            <label class="col-md-3">Current Address</label>
                            <input class="col-md-8" type="text" name="address" ngModel>
                        </div>
                        <div>
                            <label class="col-md-3">City</label>
                            <input class="col-md-3" type="text" name="city" ngModel>
                            <label class="col-md-1">State</label>
                            <input class="col-md-2" type="text" name="state" ngModel>
                            <label class="col-md-1" style="margin-left:-8px;">Country</label>
                            <input class="col-md-1" type="text" name="country" ngModel>
                        </div>
                    </fieldset>
                    <fieldset ngModelGroup="permanentAddress">
                        <div>
                            <label class="col-md-3">Permanent Address</label>
                            <input class="col-md-8" type="text" name="address" ngModel>
                        </div>
                        <div>
                            <label class="col-md-3">City</label>
                            <input class="col-md-3" type="text" name="city" ngModel>
                            <label class="col-md-1">State</label>
                            <input class="col-md-2" type="text" name="state" ngModel>
                            <label class="col-md-1" style="margin-left:-8px;">Country</label>
                            <input class="col-md-1" type="text" name="country" ngModel>
                        </div>
                    </fieldset>

                    <div>
                        <label class="col-md-3">Employee Code</label>
                        <input class="col-md-3" type="text" name="employeeCode" ngModel>
                        <label class="col-md-2">Email Id</label>
                        <input class="col-md-3" type="text" name="emailID" ngModel>
                    </div>
                    <div>
                        <label class="col-md-3">Mobile No</label>
                        <input class="col-md-3" type="text" name="mobileNo" ngModel>
                        <label class="col-md-2">PAN No</label>
                        <input class="col-md-3" type="text" name="panNo" ngModel>
                    </div>
                    <div>
                        <label class="col-md-3">Telephone No</label>
                        <input class="col-md-3" type="text" name="telephoneNo" ngModel>
                        <label class="col-md-2">Aadhar No</label>
                        <input class="col-md-3" type="text" name="aadharNo" ngModel>
                    </div>
                    <div>
                        <label class="col-md-3">Emp-Grade</label>
                        <input class="col-md-3" type="text" name="empGrade" ngModel>
                        <label class="col-md-2">Designation</label>
                        <input class="col-md-3" type="text" name="designation" ngModel>
                    </div>
                    <div>
                        <label class="col-md-3">Branch</label>
                        <input class="col-md-3" type="text" name="branch" ngModel>
                        <label class="col-md-2">Reporting Manager</label>
                        <input class="col-md-3" type="text" name="reportingManager" ngModel>
                    </div>
                    <br>
                </div>
                <div class="col-md-2">
                    <p style="text-align:center">
                        <b>Photo</b>
                    </p>
                    <input type="text" name="image" ngModel placeholder="Temp Image path">
                    <div class="square"></div>
                </div>
            </div>
            <br>
            <div style="text-align:center">
                <b>User Authentication</b>
            </div>
            <div class="row brd">
                <div class="row col-md-12 chekboxBrd">
                    <div class="col-md-3">
                        <input class="col-md-3" type="radio" ngModel name="userAuth1" value="Head Office">Head Office</div>
                    <div class="col-md-3">
                        <input class="col-md-3" type="radio" ngModel name="userAuth1" value="Branch Office">Branch Office</div>
                    <div class="col-md-3">
                        <input class="col-md-3" type="radio" ngModel name="userAuth1" value="Center Office">Center Office</div>
                    <div class="col-md-3">
                        <input class="col-md-3" type="radio" ngModel name="userAuth1" value="Group">Group</div>
                </div>
                <div class="row col-md-12 chekboxBrd" style="border:none;">
                    <div class="col-md-3">
                        <input class="col-md-3" type="radio" ngModel name="userAuth2" value="RO/HO">RO/HO</div>
                    <div class="col-md-3">
                        <input class="col-md-3" type="radio" ngModel name="userAuth2" value="Div Manager">Div Manager</div>
                    <div class="col-md-3">
                        <input class="col-md-3" type="radio" ngModel name="userAuth2" value="Area Manager">Area Manager</div>
                    <div class="col-md-3">
                        <input class="col-md-3" type="radio" ngModel name="userAuth2" value="Branch Manager">Branch Manager</div>
                </div>
                <div class="row col-md-12 chekboxBrd">
                    <div class="col-md-3">
                        <input class="col-md-3" type="radio" ngModel name="userAuth2" value="Cashier">Cashier</div>
                    <div class="col-md-3">
                        <input class="col-md-3" type="radio" ngModel name="userAuth2" value="FDO">FDO</div>
                    <div class="col-md-3">
                        <input class="col-md-3" type="radio" ngModel name="userAuth2" value="Account">Account</div>
                    <div class="col-md-3">
                        <input class="col-md-3" type="radio" ngModel name="userAuth2" value="Staff">Staff</div>
                </div>
                <div class="row col-md-12 chekboxBrd" style="border:none;">
                    <div class="col-md-3">
                        <input class="col-md-3" type="radio" ngModel name="userAuth3" value="Business Head">Business Head</div>
                    <div class="col-md-3">
                        <input class="col-md-3" type="radio" ngModel name="userAuth3" value="Operation Head">Operation Head</div>
                    <div class="col-md-3">
                        <input class="col-md-3" type="radio" ngModel name="userAuth3" value="Admin Head">Admin Head</div>
                    <div class="col-md-3">
                        <input class="col-md-3" type="radio" ngModel name="userAuth3" value="System Head">System Head</div>
                </div>
                <div class="row col-md-12 chekboxBrd">
                    <div class="col-md-3">
                        <input class="col-md-3" type="radio" ngModel name="userAuth3" value="Sales">Sales</div>
                    <div class="col-md-3">
                        <input class="col-md-3" type="radio" ngModel name="userAuth3" value="Purchase">Purchase</div>
                    <div class="col-md-3">
                        <input class="col-md-3" type="radio" ngModel name="userAuth3" value="Admin">Admin</div>
                    <div class="col-md-3">
                        <input class="col-md-3" type="radio" ngModel name="userAuth3" value="System">System</div>
                </div>


                <div class="col-md-12">
                    <br>
                    <label class="col-md-2">Add/Modify</label>
                    <input class="col-md-3" type="text" name="addModify" ngModel>
                    <label class="col-md-2">Active/Disable</label>
                    <input class="col-md-3" type="text" name="activeDisable" ngModel>
                </div>
                <div class="col-md-12">
                    <label class="col-md-2">Loan Approval</label>
                    <input class="col-md-3" type="text" name="loanApproval" ngModel>
                    <label class="col-md-2">Document Verification</label>
                    <input class="col-md-3" type="text" name="documentVerification" ngModel>
                </div>
                <div class="col-md-12">
                    <label class="col-md-2">Asset Mortgage</label>
                    <input class="col-md-3" type="text" name="assetMortgage1" ngModel>
                    <label class="col-md-2">Asset Mortgage</label>
                    <input class="col-md-3" type="text" name="assetMortgage2" ngModel>
                </div>
                <div class="col-md-12">
                    <label class="col-md-2">User Rights</label>
                    <input class="col-md-3" type="text" name="userRights" ngModel>
                    <label class="col-md-2">Vendor Management</label>
                    <input class="col-md-3" type="text" name="vendorManagement" ngModel>
                </div>
                <div class="col-md-12">
                    <label class="col-md-2">Diploma</label>
                    <input class="col-md-3" type="text" name="diploma" ngModel>
                    <label class="col-md-2">Anniversary Date</label>
                    <input class="col-md-3" type="text" name="anniversaryDate" ngModel>
                </div>
                <div class="col-md-12">
                    <label class="col-md-2">Computer/Other</label>
                    <input class="col-md-3" type="text" name="computerOrOther" ngModel>
                    <label class="col-md-2">No. of Children's</label>
                    <input class="col-md-3" type="text" name="numberOfChildrens" ngModel>
                </div>
            </div>
            <br>
            <div style="text-align:center">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </form>
    </div>
</div>