<div style="background-color: #F0F0F0;">
  <h1 style="text-align:center">MEMBER LOAN ACCOUNT</h1>
  <div class="scrsize">
    <br>
    <form #loanForm="ngForm" (ngSubmit)="loanAccount(loanForm)">
      <div style="text-align:right">
        <label>Date</label>
        <input type="date" name="date"ngModel>
      </div>

      <div class="brd row">
        <div class="col-md-11">
          <br>
          <div>
            <label class="col-md-3">Member Name</label>
            <input class="col-md-8" type="text" name="memberName"ngModel>
          </div>
          <div>
            <label class="col-md-3">Current Address</label>
            <input class="col-md-8" type="text" name="currentAddress"ngModel>
          </div>
          <div>
            <label class="col-md-3">City</label>
            <input class="col-md-3" type="text" name="mcity"ngModel>
            <label class="col-md-1">State</label>
            <input class="col-md-2" type="text" name="mstate"ngModel>
            <label class="col-md-1" style="margin-left:-8px;">Country</label>
            <input class="col-md-1" type="text" name="mcountry"ngModel>
          </div>
          <div>
            <label class="col-md-3">Permanent Address</label>
            <input class="col-md-8" type="text" name="permanantAddress"ngModel>
          </div>
          <div>
            <label class="col-md-3">City</label>
            <input class="col-md-3" type="text" name="mpcity"ngModel>
            <label class="col-md-1">State</label>
            <input class="col-md-2" type="text" name="mpstate"ngModel>
            <label class="col-md-1" style="margin-left:-8px;">Country</label>
            <input class="col-md-1" type="text" name="mpcountry"ngModel>
          </div>
          <div>
            <label class="col-md-3">Mobile No</label>
            <input class="col-md-3" type="text" name="mobileNo"ngModel>
            <label class="col-md-2">Telephone No</label>
            <input class="col-md-3" type="text" name="mtelephoneNo"ngModel>
          </div>
          <div>
            <label class="col-md-3">Aadhar No</label>
            <input class="col-md-3" type="text" name="maadharNo"ngModel>
            <label class="col-md-2">PAN No</label>
            <input class="col-md-3" type="text" name="mpanNo"ngModel>
          </div>
          <br>
        </div>
      </div>
      <br>
      <div class="brd row">
        <div class="col-md-12">
          <br>
          <div>
            <label class="col-md-3">Member No</label>
            <input class="col-md-3" type="text" name="memberNo"ngModel>
            <label class="col-md-3">FDO Code</label>
            <input class="col-md-2" type="text" name="fdoCode"ngModel>
          </div>
          <div>
            <label class="col-md-3">Loan Account No.</label>
            <input class="col-md-3" type="text" name="mloanAccNo."ngModel>
            <label class="col-md-3">Member Active Status</label>
            <input class="col-md-2" type="text" name="mactiveStatus"ngModel>
          </div>
          <div>
            <label class="col-md-3">Branch Manager Approval</label>
            <input class="col-md-3" type="text" name="brnchMngrApproval"ngModel>
            <label class="col-md-3">Area Manager Approval</label>
            <input class="col-md-2" type="text" name="areaMngrApproval"ngModel>
          </div>
          <div>
            <label class="col-md-3">Loan Purpose</label>
            <input class="col-md-3" type="text" name="loanPurpose"ngModel>
            <label class="col-md-3">Eligibility</label>
            <input class="col-md-2" type="text" name="eligibility"ngModel>
          </div>
          <br>
        </div>
      </div>
      <br>
      <div style="font-size:13px;">
        <label class="col-md-3">FDO Survey Report</label>
        <input type="text" name="fdoSurveyReport"ngModel class="col-md-8">
      </div>
      <div class="brd row" style="border-bottom:none;">
        <div class="col-md-12">
          <br>
          <div>
            <label class="col-md-3">Loan Application Amount</label>
            <input class="col-md-3" type="text" name="loanAmount"ngModel>
            <label class="col-md-3">Loan Tenure</label>
            <input class="col-md-2" type="text" name="loanTenure"ngModel>
          </div>
          <div>
            <label class="col-md-3">Loan Disbursement</label>
            <input class="col-md-3" type="text" name="loanDisbursment"ngModel>
            <label class="col-md-3">EMI Schedule</label>
            <input class="col-md-2" type="text" name="emiSchedule"ngModel>
          </div>
          <div>
            <label class="col-md-3">Rate of Interest</label>
            <input class="col-md-3" type="text" name="rateofIntrest"ngModel>
            <label class="col-md-3">Fixed/Floating Rate</label>
            <input class="col-md-2" type="text" name="fixedRate"ngModel>
          </div>
          <div>
            <label class="col-md-3">Principle Loan Amount</label>
            <input class="col-md-3" type="text" name="priciplLoanAmount"ngModel>
            <label class="col-md-3">Interest Amount</label>
            <input class="col-md-2" type="text" name="intrstAmount"ngModel>
          </div>
          <div>
            <label class="col-md-3">Total Outstanding</label>
            <input class="col-md-3" type="text" name="outstanding"ngModel>
            <label class="col-md-3">EMI Schedule</label>
            <input class="col-md-2" type="text" name="emiScheduled"ngModel>
          </div>
          <br>
        </div>
      </div>
      <div class="brd row">
        <div class="col-md-12">
          <br>
          <div>
            <label class="col-md-3">Asset Mortgage</label>
            <input class="col-md-3" type="text" name="asstMortage"ngModel>
            <label class="col-md-3">Asset Description</label>
            <input class="col-md-2" type="text" name="asstDescription"ngModel>
          </div>
          <div>
            <label class="col-md-3">Asset Market Value</label>
            <input class="col-md-3" type="text" name="asstMarktValue"ngModel>
            <label class="col-md-3">Asset Mortgage with Other</label>
            <input class="col-md-1" type="text" name="asstmortge"ngModel>
          </div>
          <div>
            <label class="col-md-3">Asset Documents</label>
            <input class="col-md-3" type="text" name="assetDocumnt"ngModel>
            <label class="col-md-3">Insurance Attached</label>
            <input class="col-md-2" type="text" name="insuranceAttch"ngModel>
          </div>
          <div>
            <label class="col-md-3">Insurance Company</label>
            <input class="col-md-3" type="text" name="insuranceCompany"ngModel>
            <label class="col-md-3">Premium Amount</label>
            <input class="col-md-2" type="text" name="premiumAmount"ngModel>
          </div>
          <br>
        </div>
      </div>
      <br>
      <div style="text-align:center">
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>
    </form>
  </div>
</div>